---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-center">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white"
            >
                Generador de DNI
            </h1>
            <div class="flex justify-center gap-4">
                <input
                    data-generation
                    type="text"
                    class="w-48 text-center px-4 py-2 text-2xl font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none cursor-copy"
                    readonly
                />
                <button
                    data-generate
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800"
                >
                    Generar
                </button>
            </div>
        </div>
    </section>
    <section class="mt-16 bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-center">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white"
            >
                Validador de DNI
            </h1>
            <div class="flex justify-center gap-4">
                <input
                    data-validation
                    type="text"
                    class="w-48 text-center px-4 py-2 text-2xl font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none"
                />
            </div>
        </div>
    </section>
</Layout>

<script>
    import { generateDNI, validateDNI } from "@/utils/nif";

    const input = document.querySelector(
        "[data-generation]",
    ) as HTMLInputElement;

    const button = document.querySelector(
        "[data-generate]",
    ) as HTMLButtonElement;

    button.addEventListener("click", () => {
        input.value = generateDNI();
    });
    input.value = generateDNI();

    input.addEventListener("click", () => {
        input.select();
        document.execCommand("copy");
    });

    const validation = document.querySelector(
        "[data-validation]",
    ) as HTMLInputElement;

    validation.addEventListener("keyup", () => {
        const value = validation.value;
        if (validateDNI(value)) {
            validation.classList.remove("border-red-500");
            validation.classList.add("border-green-500");
        } else {
            validation.classList.remove("border-green-500");
            validation.classList.add("border-red-500");
        }
    });
</script>
