---
import Layout from "@/layouts/Layout.astro";
import Request from "@components/Request.astro";
import { generateDNI } from "@utils/nif";
---

<Layout>
	<main class="hidden">
		<Request method="GET" endpoint="/api/v1/dni">
			{JSON.stringify(Array.from({ length: 1 }, () => generateDNI()))}
		</Request>
		<Request method="GET" endpoint="/api/v1/dni?quantity=5">
			{JSON.stringify(Array.from({ length: 5 }, () => generateDNI()))}
		</Request>
		<section
			class="grid grid-cols-2 items-start gap-4 w-full max-w-4xl mx-auto"
		>
			<div class="flex items-center gap-x-3 mb-4">
				<span
					class="font-mono text-[0.625rem] font-semibold leading-6 rounded-lg px-1.5 ring-1 ring-inset ring-emerald-300 dark:ring-emerald-400/30 bg-emerald-400/10 text-emerald-500 dark:text-emerald-400"
				>
					GET
				</span>
				<span class="font-mono text-xs text-zinc-400">/api/v1/dni</span>
			</div>

			<div
				class="[&>:first-child]:mt-0 [&>:last-child]:mb-0 xl:sticky xl:top-24"
			>
				<div
					class="my-6 overflow-hidden rounded-lg bg-zinc-900 shadow-md dark:ring-1 dark:ring-white/10"
				>
					<div class="not-prose">
						<div
							class="flex min-h-10 flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent"
						>
							<h3
								class="mr-auto pt-3 text-xs font-semibold text-white"
							>
								Request
							</h3>
							<div
								class="-mb-px flex gap-4 text-xs font-medium"
								role="tablist"
								aria-orientation="horizontal"
							>
								<button
									class="border-b py-3 transition ui-not-focus-visible:outline-none border-emerald-500 text-emerald-400"
									id="headlessui-tabs-tab-:r8:"
									role="tab"
									type="button"
									aria-selected="true"
									tabindex="0"
									data-headlessui-state="selected"
									data-selected=""
									aria-controls="headlessui-tabs-panel-:rg:"
									>cURL</button
								>
								<button
									class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
									id="headlessui-tabs-tab-:ra:"
									role="tab"
									type="button"
									aria-selected="false"
									tabindex="-1"
									data-headlessui-state=""
									aria-controls="headlessui-tabs-panel-:ri:"
									>JavaScript</button
								>
								<button
									class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
									id="headlessui-tabs-tab-:rc:"
									role="tab"
									type="button"
									aria-selected="false"
									tabindex="-1"
									data-headlessui-state=""
									aria-controls="headlessui-tabs-panel-:rk:"
									>Python</button
								>
								<button
									class="border-b py-3 transition ui-not-focus-visible:outline-none border-transparent text-zinc-400 hover:text-zinc-300"
									id="headlessui-tabs-tab-:re:"
									role="tab"
									type="button"
									aria-selected="false"
									tabindex="-1"
									data-headlessui-state=""
									aria-controls="headlessui-tabs-panel-:rm:"
									>PHP</button
								>
							</div>
						</div>
						<div>
							<div
								id="headlessui-tabs-panel-:rg:"
								role="tabpanel"
								tabindex="0"
								data-headlessui-state="selected"
								data-selected=""
								aria-labelledby="headlessui-tabs-tab-:r8:"
							>
								<div class="group dark:bg-white/2.5">
									<div
										class="flex h-9 items-center gap-2 border-y border-b-white/7.5 border-t-transparent bg-white/2.5 bg-zinc-900 px-4 dark:border-b-white/5 dark:bg-white/1"
									>
										<div class="dark flex">
											<span
												class="font-mono text-[0.625rem] font-semibold leading-6 text-emerald-500 dark:text-emerald-400"
												>GET</span
											>
										</div>
										<span
											class="font-mono text-xs text-zinc-400"
											>/api/v1/dni</span
										>
									</div>
									<div class="relative">
										<pre
											class="overflow-x-auto p-4 text-xs text-white"><code class="language-bash">{JSON.stringify([generateDNI()])}</code></pre>
										<button
											type="button"
											class="group/button absolute right-4 top-3.5 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 dark:bg-white/2.5 dark:hover:bg-white/5"
										>
											<span
												aria-hidden="false"
												class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300"
											>
												<svg
													viewBox="0 0 20 20"
													aria-hidden="true"
													class="h-5 w-5 fill-zinc-500/20 stroke-zinc-500 transition-colors group-hover/button:stroke-zinc-400"
												>
													<path
														stroke-width="0"
														d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z"
													></path>
													<path
														fill="none"
														stroke-linejoin="round"
														d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1"
													></path>
												</svg>Copy
											</span>
											<span
												aria-hidden="true"
												class="pointer-events-none absolute inset-0 flex items-center justify-center text-emerald-400 transition duration-300 translate-y-1.5 opacity-0"
												>Copied!</span
											>
										</button>
									</div>
								</div>
							</div>
							<span
								aria-hidden="true"
								id="headlessui-tabs-panel-:ri:"
								role="tabpanel"
								tabindex="-1"
								aria-labelledby="headlessui-tabs-tab-:ra:"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"
							></span>
							<span
								aria-hidden="true"
								id="headlessui-tabs-panel-:rk:"
								role="tabpanel"
								tabindex="-1"
								aria-labelledby="headlessui-tabs-tab-:rc:"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"
							></span>
							<span
								aria-hidden="true"
								id="headlessui-tabs-panel-:rm:"
								role="tabpanel"
								tabindex="-1"
								aria-labelledby="headlessui-tabs-tab-:re:"
								style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"
							></span>
						</div>
					</div>
				</div>
				<div
					class="my-6 overflow-hidden rounded-lg bg-zinc-900 shadow-md dark:ring-1 dark:ring-white/10"
				>
					<div class="not-prose">
						<div
							class="flex min-h-10 flex-wrap items-start gap-x-4 border-b border-zinc-700 bg-zinc-800 px-4 dark:border-zinc-800 dark:bg-transparent"
						>
							<h3
								class="mr-auto pt-3 text-xs font-semibold text-white"
							>
								Response
							</h3>
						</div>
						<div class="group dark:bg-white/2.5">
							<div class="relative">
								<pre
									class="overflow-x-auto p-4 text-xs text-white"><code class="language-json">asdasdasd</code></pre>
								<button
									type="button"
									class="group/button absolute right-4 top-3.5 overflow-hidden rounded-full py-1 pl-2 pr-3 text-2xs font-medium opacity-0 backdrop-blur transition focus:opacity-100 group-hover:opacity-100 bg-white/5 hover:bg-white/7.5 dark:bg-white/2.5 dark:hover:bg-white/5"
								>
									<span
										aria-hidden="false"
										class="pointer-events-none flex items-center gap-0.5 text-zinc-400 transition duration-300"
									>
										<svg
											viewBox="0 0 20 20"
											aria-hidden="true"
											class="h-5 w-5 fill-zinc-500/20 stroke-zinc-500 transition-colors group-hover/button:stroke-zinc-400"
										>
											<path
												stroke-width="0"
												d="M5.5 13.5v-5a2 2 0 0 1 2-2l.447-.894A2 2 0 0 1 9.737 4.5h.527a2 2 0 0 1 1.789 1.106l.447.894a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2Z"
											></path>
											<path
												fill="none"
												stroke-linejoin="round"
												d="M12.5 6.5a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-5a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2m5 0-.447-.894a2 2 0 0 0-1.79-1.106h-.527a2 2 0 0 0-1.789 1.106L7.5 6.5m5 0-1 1h-3l-1-1"
											></path>
										</svg>Copy
									</span>
									<span
										aria-hidden="true"
										class="pointer-events-none absolute inset-0 flex items-center justify-center text-emerald-400 transition duration-300 translate-y-1.5 opacity-0"
										>Copied!</span
									>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</Layout>
