---
import Layout from "../layouts/Layout.astro";
import { generatePassword } from "../utils";

const generation = generatePassword();
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
            >
                Generador de contraseñas
            </h1>
            <p
                class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400"
            >
                Genera contraseñas aleatorias para tus proyectos o para uso
                académico.
            </p>
            <div class="flex flex-col gap-4 sm:flex-row sm:justify-center">
                <input
                    type="text"
                    class="w-56 text-center px-4 py-3 text-base font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none"
                    value={generation}
                    onclick="this.select();document.execCommand('copy');console.log('Copied to clipboard')"
                    readonly
                />
                <button
                    onclick="location.reload()"
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800"
                >
                    Generar
                </button>
            </div>
        </div>
    </section>
</Layout>
