---
import Layout from "../layouts/Layout.astro";
import { generatePassword } from "../utils/password";

const generation = generatePassword();
---

<Layout>
    <section class="bg-white dark:bg-gray-900">
        <div class="px-4 mx-auto max-w-screen-xl text-center">
            <h1
                class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 dark:text-white"
            >
                Generador de contraseñas
            </h1>
            <div class="flex justify-center gap-4">
                <input
                    data-generation
                    type="text"
                    class="w-48 text-center px-4 py-3 text-base font-medium text-gray-900 placeholder-gray-500 bg-white border border-gray-300 rounded-lg shadow-sm outline-none cursor-copy"
                    readonly
                />
                <button
                    data-generate
                    class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800"
                >
                    Generar
                </button>
            </div>
        </div>
    </section>
</Layout>

<script>
    import { generatePassword } from "../utils/password";

    const input = document.querySelector(
        "[data-generation]",
    ) as HTMLInputElement;

    const button = document.querySelector(
        "[data-generate]",
    ) as HTMLButtonElement;

    button.addEventListener("click", () => {
        input.value = generatePassword();
    });
    input.value = generatePassword();

    input.addEventListener("click", () => {
        input.select();
        document.execCommand("copy");
    });
</script>
