---
import {
	getLangFromUrl,
	useTranslations,
	useTranslatedPath,
} from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Data Generator by @salteadorneo",
	description = "Data Generator",
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

		<title>{title}</title>
		<meta name="description" content={description} />

		<script data-no-cookie async src="https://cdn.splitbee.io/sb.js"
		></script>
	</head>
	<body>
		<header>
			<nav
				class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800"
			>
				<div
					class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl"
				>
					<a
						href="/"
						class="flex items-center gap-1 text-gray-900 dark:text-white"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 -960 960 960"
							fill="currentColor"
							><path
								d="M560-160v-80h104L537-367l57-57 126 126v-102h80v240H560Zm-344 0-56-56 504-504H560v-80h240v240h-80v-104L216-160Zm151-377L160-744l56-56 207 207-56 56Z"
							></path></svg
						>
						Data<strong>Generator</strong>
					</a>
					<div
						class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1"
						id="mobile-menu-2"
					>
						<ul
							class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0"
						>
							<li>
								<a
									href={translatePath("/dni")}
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>DNI</a
								>
							</li>
							<li>
								<a
									href={translatePath("/nie")}
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>NIE</a
								>
							</li>
							<li>
								<a
									href={translatePath("/cif")}
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>CIF</a
								>
							</li>
							<li>
								<a
									href={translatePath("/passwords")}
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>Passwords</a
								>
							</li>
							<li>
								<a
									href={translatePath("/matriculas")}
									class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700"
									>Matrículas</a
								>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<slot />
		<footer class="p-4 bg-white sm:p-6 dark:bg-gray-800">
			<div class="mx-auto max-w-screen-xl">
				<div class="md:flex md:justify-between">
					<div>
						<a
							href="/"
							class="flex items-center gap-1 text-gray-900 dark:text-white"
						>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								viewBox="0 -960 960 960"
								fill="currentColor"
								><path
									d="M560-160v-80h104L537-367l57-57 126 126v-102h80v240H560Zm-344 0-56-56 504-504H560v-80h240v240h-80v-104L216-160Zm151-377L160-744l56-56 207 207-56 56Z"
								></path></svg
							>
							Data<strong>Generator</strong>
						</a>
					</div>
					<div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
						<div>
							<h2
								class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
							>
								NIF
							</h2>
							<ul
								class="space-y-4 text-gray-600 dark:text-gray-400"
							>
								<li>
									<a
										href={translatePath("/dni")}
										class="hover:underline">DNI</a
									>
								</li>
								<li>
									<a
										href={translatePath("/nie")}
										class="hover:underline">NIE</a
									>
								</li>
								<li>
									<a
										href={translatePath("/cif")}
										class="hover:underline">CIF</a
									>
								</li>
							</ul>
						</div>
						<div>
							<h2
								class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
							>
								Utilidades
							</h2>
							<ul
								class="space-y-4 text-gray-600 dark:text-gray-400"
							>
								<li>
									<a
										href={translatePath("/passwords")}
										class="hover:underline">Passwords</a
									>
								</li>
								<li>
									<a
										href={translatePath("/matriculas")}
										class="hover:underline">Matrículas</a
									>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<hr
					class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8"
				/>
				<div class="sm:flex sm:items-center sm:justify-between">
					<span
						class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
					>
						<a href="/" class="hover:underline">Español</a> · <a
							href="/en"
							class="hover:underline">English</a
						>
					</span>
					<div class="flex mt-4 space-x-4 sm:justify-center sm:mt-0">
						<a
							href="https://github.com/salteadorneo/generator"
							target="_blank"
							class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
						>
							<svg
								class="size-6"
								fill="currentColor"
								viewBox="0 0 24 24"
								aria-hidden="true"
								><path
									fill-rule="evenodd"
									d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
									clip-rule="evenodd"></path></svg
							>
						</a>
						<a
							href="https://x.com/salteadorneodev"
							target="_blank"
							class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
						>
							<svg
								class="size-6"
								viewBox="0 0 24 24"
								aria-hidden="true"
								fill="currentColor"
								><g
									><path
										d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
									></path></g
								></svg
							>
						</a>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
