---
import { version } from "../../package.json";

interface Props {
	title?: string;
	description?: string;
}

const {
	title = "Data Generator by @salteadorneo",
	description = "Data Generator",
} = Astro.props;
---

<!doctype html>
<html lang="es" class="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

		<title>{title}</title>
		<meta name="description" content={description} />

		<script data-no-cookie async src="https://cdn.splitbee.io/sb.js"
		></script>
	</head>
	<body>
		<section class="bg-white dark:bg-gray-900">
			<div class="pt-16 px-4 mx-auto max-w-screen-xl text-center">
				<p
					class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 bg-gray-100 rounded-full dark:bg-gray-800 dark:text-white"
					role="alert"
				>
					<span
						class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"
						>New</span
					>
					<span class="text-sm font-medium">
						Launched version {version}
					</span>
				</p>
				<h1
					class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white"
				>
					Data Generator
				</h1>
				<p
					class="text-balance mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
				>
					Generate random data for your projects. Choose the type of
					data you want to generate and the amount of data you need.
				</p>
				<div
					class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4"
				>
					<a
						href="/dni"
						class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
					>
						DNI
					</a>
					<a
						href="/cif"
						class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
					>
						CIF
					</a>
					<a
						href="/password"
						class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
					>
						Contraseña
					</a>
				</div>
			</div>
		</section>
		<slot />
	</body>
</html>
